<div class="main-content">
    <div class="container-fluid">

        <div class="row-12">

            <div class="row ml-1 md-6 justify-content-center">
                <h4>
                    <img md-fab-image class="user-fab" [src]="userImg">
                    {{ user.name }}
                </h4>
            </div>

            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-6">
                    <button mat-raised-button color="primary" class="btn btn-round btn-large btn-success"
                    (click)="openDialog()" >
                        Agregar ausentismo
                        <mat-icon>beach_access</mat-icon>
                    </button>
                </div>
            </div>


        </div>

    </div>
</div>