<!-- <section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">

        </div>
      </div>
    </div>
  </section> -->

<section class="vh-100" style="background-color: #FFF;">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="navbar-wrapper">

                <div class="logo">
                    <a href="/" class="simple-text">

                        <div style="margin-left: 0px;">
                            <img src="/assets/img/icons/daytoday_logohorizontal.png" style="width: 200px;" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid h-custom"  style="background-color: #FFF;">
        <div class="row d-flex justify-content-center align-items-center h-100"  style="background-color: #FFF;">
            
            <div class="col-md-6 col-lg-6 col-xl-4 offset-xl-1"  style="background-color: #FFF;">
                <div class="card box-card" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="text-center font-weight-bold">Day to Day (Time Report)</h3>

                        <p>La <span style="color: #cc222b;">transformación</span> es parte de nuestra cultura en la Vicepresidencia de Auditoría</p>

                        <hr class="my-4">

                        <button class="btn" style="background-color: #dd4b39;"
                        (click)="loginWithGoogle()"
                            type="submit"><i class="fa fa-google" style="margin-right: 10px;"></i>Inicia sesión con Google</button>

                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-6 col-xl-5 justify-content-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>

        </div>
    </div>
</section>