<div class="container mt-2 text-center">
    <h1 mat-dialog-title>Agregar usuario</h1>
    <div mat-dialog-content>

        <div class="row">
            <div class="col">
                <!-- Email -->
                <mat-form-field class="inputs" appearance="fill">
                    <mat-label>Correo:</mat-label>
                    <input type="email" matInput placeholder="Ingrese el correo corporativo" [(ngModel)]="data.email"
                        required>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-md-6">
                <mat-form-field appearance="fill" class="inputs">
                    <mat-label>Role del usuario</mat-label>
                    <mat-select [(ngModel)]="data.rol">
                        <mat-option *ngFor="let role of roles" [value]="role">{{ role.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6 col-md-6">
                <mat-form-field appearance="fill" class="inputs">
                    <mat-label>Área del usuario</mat-label>
                    <mat-select [(ngModel)]="data.area">
                        <mat-option *ngFor="let area of areas" [value]="area">{{ area.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

    </div>
    <div mat-dialog-actions class="justify-content-center">

        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>

    </div>
</div>
