.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .w-100
  {
      width: 100%;
  }
  
  table {
    width: 100%;
  }
  
  .mat-column-userimage {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 35% !important;
    width: 35% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .fab-icono {
    margin-right: 10px;
  }
  
  .user-fab {
    width: 35px; 
    height: 35px; 
    border-radius: 30px;
    margin-right: 5px;
    // margin-top: -7px;
  }

.loader {
    margin-right: 10px;;
}
