<div class="container mt-2 text-center">
    <h1 mat-dialog-title>Agregar Actividad</h1>
    <div mat-dialog-content>

        <div class="row">
            <div class="col-12">
                <p>Si agrega una actividad general todos los auditores de Colombia y CAM la tendrán asignada. Proceder con cuidado!!!</p>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-12 col-s-12 col-sm-12">
                <!-- Número de horas -->
                <mat-form-field class="inputs" appearance="fill">
                    <mat-label>Horas Estimadas</mat-label>
                    <input [(ngModel)]="data.estimated_hours" type="number" min="0" matInput
                        placeholder="Número de horas estimadas para la finalización de la actividad">
                </mat-form-field>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-s-12 col-sm-12">

                <!-- Fechas estimadas -->
                <mat-form-field appearance="fill" class="filtro" style="width: 100%;">
                    <mat-label>Seleccione fecha inicial y final de la actividad</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate [(ngModel)]="data.initial_date" placeholder="Start date">
                        <input matEndDate [(ngModel)]="data.end_date" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>

                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Fecha de inicio inválida
                    </mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Fecha final inválida</mat-error>
                </mat-form-field>

            </div>

        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-s-12 col-sm-12">

                <mat-form-field appearance="fill" class="inputs">
                    <mat-label>Empresa</mat-label>
                    <mat-select [(ngModel)]="data.company">
                        <mat-option *ngFor="let company of companies" [value]="company.code">
                            {{company.country.name}} - {{ company.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <!-- Nombre -->
                <mat-form-field class="inputs" appearance="fill">
                    <mat-label>Actividad</mat-label>
                    <input matInput placeholder="Ingrese el nombre de la actividad que desea agregar"
                        [(ngModel)]="data.name">
                </mat-form-field>
            </div>
        </div>



        <div class="row">

        </div>

        <!-- </div> -->
    </div>
    <div mat-dialog-actions class="justify-content-center">
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Guardar</button> -->
        <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>

    </div>
</div>