<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-11">

            </div>

            <div class="col-1">
                <button mat-raised-button type="button" matTooltip="Resetear datos" (click)="restartData()"
                    [matTooltipPosition]="'left'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                    <i class="material-icons">restart_alt</i>
                </button>
            </div>
        </div>


        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-s-12 col-sm-12">
                <div class="card card-stats">

                    <mat-form-field appearance="fill" class="filtro">
                        <mat-label>Filtar por rango de fechas</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [max]="today">
                            <input matStartDate formControlName="start" placeholder="Fecha de inicio">
                            <input matEndDate formControlName="end" placeholder="Fecha fin"
                                (dateChange)="filterReportData()">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">
                            fecha de inicio inválida
                        </mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">
                            fecha final inválida
                        </mat-error>
                    </mat-form-field>


                    <!-- <div class="card-footer">
                        <div class="stats" (click)="filterReportData()" style="cursor: pointer;">
                            <i class="material-icons">restart_alt</i>
                            Reiniciar rango (mes en curso)
                        </div>
                    </div> -->

                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-s-12 col-sm-12">
                <div class="card">

                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>País</mat-label>
                        <!-- <mat-select (selectionChange)="selectCompany($event)"> -->
                        <mat-select (selectionChange)="selectCountry($event)" [(ngModel)]="filterCountryValue">
                            <!-- <mat-option value="all" aria-disabled="true">Todo</mat-option> -->
                            <mat-option *ngFor="let country of countries" [value]="country">{{ country }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-6 col-s-12 col-sm-12">
                <div class="card">

                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>Empresa</mat-label>
                        <mat-select (selectionChange)="selectCompany($event)" [(ngModel)]="filterCompanyValue">
                            <!-- <mat-option value="all">Todo </mat-option> -->
                            <mat-option *ngFor="let company of companies" [value]="company">{{ company }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-s-12 col-sm-12">
                <div class="card">

                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>Actividad</mat-label>
                        <mat-select (selectionChange)="selectActivity($event)" [(ngModel)]="filterActivityValue">
                            <!-- <mat-option value="all">Todo</mat-option> -->
                            <mat-option *ngFor="let activity of activities" [value]="activity">{{ activity }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-s-12 col-sm-12">
                <div class="card">

                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>Area</mat-label>
                        <mat-select (selectionChange)="selectArea($event)" [(ngModel)]="filterAreaValue">
                            <!-- <mat-option value="all">Todo</mat-option> -->
                            <mat-option *ngFor="let area of areas" [value]="area">{{ area }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-s-12 col-sm-12">
                <div class="card">

                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>Usuario</mat-label>
                        <mat-select (selectionChange)="selectUser($event)" [(ngModel)]="filterUsersValue">
                            <!-- <mat-option value="all">Todo</mat-option> -->
                            <mat-option *ngFor="let user of users" [value]="user">{{ user }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-12">
                <mat-tab-group mat-align-tabs="center">

                    <mat-tab label="Usuarios">

                        <div *ngIf="mostrarGraficas">

                            <div class="row">

                                <div class="col-lg-4 col-md-4 col-s-12 col-sm-12">

                                    <div class="card card-stats">
                                        <div class="card-header card-header-danger card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">functions</i>
                                            </div>
                                            <p class="card-category">Horas ejecutadas en total</p>
                                            <h3 class="card-title">{{horasTrabajadasEnTotal | number : '1.2-2' }}</h3>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-4 col-md-4 col-s-12 col-sm-12">

                                    <div class="card card-stats">
                                        <div class="card-header card-header-info card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">hourglass_disabled</i>
                                            </div>
                                            <p class="card-category">Promedio horas por fecha</p>
                                            <h3 class="card-title">{{horasTrabajadasEnPromedio | number : '1.2-2' }}
                                            </h3>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <!-- Horas trabajadas en promedio -->
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-4 col-md-4 col-s-12 col-sm-12">

                                    <div class="card card-stats">
                                        <div class="card-header card-header-warning card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">hourglass_disabled</i>
                                            </div>
                                            <p class="card-category">Promedio horas específico</p>
                                            <h3 class="card-title">{{horasTrabajadasEnPromedioArea | number : '1.2-2' }}
                                            </h3>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <!-- Horas trabajadas en promedio -->
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="card card-chart">
                                        <div class="card-header card-header-default text-white"
                                            style="background-color: rgb(255, 255, 255) !important;">
                                            <div style="display: block">
                                                <canvas baseChart [data]="lineChartData" [options]="lineChartOptions"
                                                    [type]="lineChartType">
                                                </canvas>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Tendencia de horas trabajadas por fecha</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="card card-chart">
                                        <div class="card-header card-header-default text-white"
                                            style="background-color: rgb(255, 255, 255) !important;">
                                            <div style="display: block">
                                                <canvas baseChart [data]="barChartDataJefatura"
                                                    [options]="barChartOptionsJefatura" [type]="barChartTypeJefatura">
                                                </canvas>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Tendencia de trabajo por jefatura (mes actual /
                                                mes pasado)</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-s-12 col-sm-12">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-warning card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">donut_large</i>
                                            </div>
                                            <div class="chart">
                                                <canvas baseChart [data]="pieChartCompaniesData"
                                                    [labels]="labelsPieChartCompanies" [type]="pieChartCompaniesType"
                                                    [options]="pieChartCompaniesOptions">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col-lg-6 col-md-6 col-s-12 col-sm-12">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-danger card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">donut_large</i>
                                            </div>
                                            <div class="chart">
                                                <canvas baseChart [data]="pieChartCategoriesData"
                                                    [labels]="labelsPieChartCategories" [type]="pieChartCategoriesType"
                                                    [options]="pieChartCategoriesOptions">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="col-lg-6 col-md-6 col-s-12 col-sm-12">
                                    <div class="card card-stats">
                                        <div class="card-header card-header-success card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">donut_large</i>
                                            </div>
                                            <div class="chart">
                                                <canvas baseChart [data]="pieChartData" [labels]="labelsPieChart"
                                                    [type]="pieChartType" [options]="pieChartOptions">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-lg-12 col-md-12">
                                    <div class="card">

                                        <div class="card-header card-header-tabs card-header-primary">
                                            <div class="nav-tabs-navigation">
                                                <div class="nav-tabs-wrapper">
                                                    <span class="nav-tabs-title">Índice de horas:</span>
                                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                                        <li class="nav-item">
                                                            <a mat-button class="nav-link active" href="#profile"
                                                                data-toggle="tab">
                                                                <i class="material-icons">trending_up</i>
                                                                Top: Auditores sobre ejecutados
                                                                <div class="ripple-container"></div>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a mat-button class="nav-link" href="#messages"
                                                                data-toggle="tab">
                                                                <i class="material-icons">trending_down</i>
                                                                Top: No completados
                                                                <div class="ripple-container"></div>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a mat-button class="nav-link" href="#settings"
                                                                data-toggle="tab">
                                                                <i class="material-icons">groups</i>
                                                                Top: Horas trabajadas por usuario
                                                                <div class="ripple-container"></div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="card-body">
                                            <div class="tab-content">

                                                <div class="tab-pane active" id="profile">

                                                    <div class="card-body table-responsive">

                                                        <table mat-table [dataSource]="dataSourceTopSobreEjecutados"
                                                            matSort style="width: 100%;">

                                                            <!-- Column -->
                                                            <ng-container matColumnDef="auditor">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="segundaColumna"> Auditor
                                                                </th>
                                                                <td mat-cell *matCellDef="let row"
                                                                    class="segundaColumna">
                                                                    {{row.name }}
                                                                </td>
                                                            </ng-container>


                                                            <!-- Column -->
                                                            <ng-container matColumnDef="hours">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="terceraColumna"> Horas
                                                                </th>
                                                                <td mat-cell *matCellDef="let row"
                                                                    class="terceraColumna"> {{row.hours |
                                                                    number :
                                                                    '1.2-2' }} </td>
                                                            </ng-container>


                                                            <tr mat-header-row
                                                                *matHeaderRowDef="displayedColumnsAuditorHours">
                                                            </tr>
                                                            <tr mat-row
                                                                *matRowDef="let row; columns: displayedColumnsAuditorHours;">
                                                            </tr>

                                                            <!-- Row shown when there is no matching data. -->
                                                            <tr class="mat-row" *matNoDataRow>
                                                                <td class="mat-cell" colspan="4">No hay registros en
                                                                    el rango de fecha
                                                                    seleccionado
                                                                </td>
                                                            </tr>

                                                        </table>

                                                        <!-- <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]"
                                            aria-label="Select page of users">
                                        </mat-paginator> -->

                                                    </div>

                                                </div>

                                                <div class="tab-pane" id="messages">

                                                    <div class="card-body table-responsive">

                                                        <table mat-table [dataSource]="dataSourceTopNoCompletados"
                                                            matSort style="width: 100%;">

                                                            <!-- Column -->
                                                            <ng-container matColumnDef="auditor">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="segundaColumna"> Auditor
                                                                </th>
                                                                <td mat-cell *matCellDef="let row"
                                                                    class="segundaColumna">
                                                                    {{row.name }}
                                                                </td>
                                                            </ng-container>


                                                            <!-- Column -->
                                                            <ng-container matColumnDef="hours">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="terceraColumna"> Horas
                                                                </th>
                                                                <td mat-cell *matCellDef="let row"
                                                                    class="terceraColumna"> {{row.hours |
                                                                    number :
                                                                    '1.2-2' }} </td>
                                                            </ng-container>


                                                            <tr mat-header-row
                                                                *matHeaderRowDef="displayedColumnsAuditorHours">
                                                            </tr>
                                                            <tr mat-row
                                                                *matRowDef="let row; columns: displayedColumnsAuditorHours;">
                                                            </tr>

                                                            <!-- Row shown when there is no matching data. -->
                                                            <tr class="mat-row" *matNoDataRow>
                                                                <td class="mat-cell" colspan="4">No hay registros en
                                                                    el rango de fecha
                                                                    seleccionado
                                                                </td>
                                                            </tr>

                                                        </table>

                                                        <!-- <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]"
                                            aria-label="Select page of users">
                                        </mat-paginator> -->

                                                    </div>

                                                </div>

                                                <div class="tab-pane" id="settings">

                                                    <div class="card-body table-responsive">

                                                        <table mat-table [dataSource]="dataSourceAuditorHours" matSort
                                                            style="width: 100%;">

                                                            <!-- Column -->
                                                            <ng-container matColumnDef="auditor">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="segundaColumna"> Auditor
                                                                </th>
                                                                <td mat-cell *matCellDef="let row"
                                                                    class="segundaColumna">
                                                                    {{row.name }}
                                                                </td>
                                                            </ng-container>


                                                            <!-- Column -->
                                                            <ng-container matColumnDef="hours">
                                                                <th mat-header-cell *matHeaderCellDef
                                                                    class="terceraColumna"> Horas
                                                                </th>
                                                                <td mat-cell *matCellDef="let row"
                                                                    class="terceraColumna"> {{row.hours |
                                                                    number :
                                                                    '1.2-2' }} </td>
                                                            </ng-container>


                                                            <tr mat-header-row
                                                                *matHeaderRowDef="displayedColumnsAuditorHours">
                                                            </tr>
                                                            <tr mat-row
                                                                *matRowDef="let row; columns: displayedColumnsAuditorHours;">
                                                            </tr>

                                                            <!-- Row shown when there is no matching data. -->
                                                            <tr class="mat-row" *matNoDataRow>
                                                                <td class="mat-cell" colspan="4">No hay registros en
                                                                    el rango de fecha
                                                                    seleccionado
                                                                </td>
                                                            </tr>

                                                        </table>

                                                        <!-- <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]"
                                            aria-label="Select page of users">
                                        </mat-paginator> -->

                                                    </div>

                                                </div>


                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>

                        </div>

                    </mat-tab>

                    <mat-tab label="Actividades">

                        <div *ngIf="mostrarGraficas">

                            <div class="row">

                                <!-- <div class="col-lg-3 col-md-3 col-s-12 col-sm-12">

                                    <div class="card card-stats">
                                        <div class="card-header card-header-info card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <p class="card-category">Auditorías vencidas en el corte - Open Pages</p>
                                            <h3 class="card-title">{{auditoriasVencidasRangoFecha }}</h3>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">

                                            </div>
                                        </div>
                                    </div>

                                </div> -->

                                <!-- <div class="col-lg-3 col-md-3 col-s-12 col-sm-12"> -->
                                <div class="col-lg-6 col-md-6 col-s-12 col-sm-12">

                                    <div class="card card-stats">
                                        <div class="card-header card-header-success card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">fact_check</i>
                                            </div>
                                            <p class="card-category">Auditorías en sobreejecución</p>
                                            <h3 class="card-title">{{auditoriasVencidasArribaCien }}
                                            </h3>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <!-- Horas trabajadas en promedio -->
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- <div class="col-lg-3 col-md-3 col-s-12 col-sm-12"> -->
                                <div class="col-lg-6 col-md-6 col-s-12 col-sm-12">

                                    <div class="card card-stats">
                                        <div class="card-header card-header-warning card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">report_problem</i>
                                            </div>
                                            <p class="card-category">Auditorías por debajo del 100%</p>
                                            <h3 class="card-title">{{auditoriasVencidasMenosCien }}
                                            </h3>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <!-- Horas trabajadas en promedio -->
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- <div class="col-lg-3 col-md-3 col-s-12 col-sm-12">

                                    <div class="card card-stats">
                                        <div class="card-header card-header-warning card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">task_alt</i>
                                            </div>
                                            <p class="card-category">Auditorías abiertas - Open Pages</p>

                                            <h3 class="card-title">{{auditoriasVencidasEfectividad }}
                                            </h3>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div> -->

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-chart">
                                        <div class="card-header card-header-default text-white"
                                            style="background-color: rgb(255, 255, 255) !important;">
                                            <div style="display: block">
                                                <canvas baseChart [data]="barChartDataAuditoriaCerradasMes"
                                                    [options]="barChartOptionsAuditoriasCerradasMes"
                                                    [type]="barChartTypeAuditoriasCerradasMes">
                                                </canvas>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Auditorias cerradas mes actual o fecha seleccionada
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="card">

                                        <div class="card-header card-header-danger"
                                            style="background-color: #33348e !important;">
                                            <h4 class="card-title ">Tabla de auditorías vencidas</h4>
                                            <p class="card-category">
                                                Lista de las actividades vencidads durante el rango seleccionado
                                            </p>
                                        </div>

                                        <div class="card-body">

                                            <mat-accordion displayMode="flat" multi class="mat-table">
                                                <section matSort class="mat-elevation-z2 mat-header-row">
                                                    <span class="mat-cell" mat-sort-header="vesselName">Nombre de la
                                                        actividad </span>
                                                    <span class="mat-cell" mat-sort-header="vesselId">Fecha de cierre
                                                    </span>
                                                    <span class="mat-cell" mat-sort-header="vesselStatus">Estado en Open
                                                        Pages </span>
                                                    <span class="mat-cell" mat-sort-header="ircs">Procentaje de
                                                        ejecución </span>
                                                    <span class="mat-cell" mat-sort-header="semaforo"></span>
                                                </section>

                                                <mat-expansion-panel *ngFor="let item of avanceActividadesRealEsperado">


                                                    <mat-expansion-panel-header class="" style="margin-top: 5px;">
                                                        <span class="mat-cell">{{item.name}} </span>
                                                        <span class="mat-cell">{{item.fecha_cierre | date:"dd/MM/yyyy"}}
                                                        </span>
                                                        <span class="mat-cell">{{item.open_state}} </span>
                                                        <span class="mat-cell">{{item.avance_actividades |
                                                            number:'1.2-2'}}% </span>
                                                        <!-- <span mat-cell *matCellDef="let row" class="" [style.background-color]="item.semaforo" > </span> -->
                                                        <!-- <span class="mat-cell" [style.background-color]="item.semaforo"
                                                            style="width: 10px;"> </span> -->
                                                    </mat-expansion-panel-header>

                                                    <div>

                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">País</th>
                                                                    <th scope="col">Empresa</th>
                                                                    <th scope="col">Horas Estimadas</th>
                                                                    <th scope="col">Horas Ejecutadas</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>{{item.country}}</td>
                                                                    <td>{{item.company}}</td>
                                                                    <td>{{item.estimated_hours | number:'1.2-2'}}</td>
                                                                    <td>{{item.worked_hours | number:'1.2-2'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>

                                                </mat-expansion-panel>

                                            </mat-accordion>


                                            <br>

                                            <!-- DATA REAL -->
                                            <!-- <table mat-table [dataSource]="dataSourceAvanceActividades">


                                                <ng-container matColumnDef="activity">
                                                    <th mat-header-cell *matHeaderCellDef class="">
                                                        Actividad </th>
                                                    <td mat-cell *matCellDef="let row" class="">
                                                        {{row.name }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="end-date">
                                                    <th mat-header-cell *matHeaderCellDef class=""> Fecha
                                                        de cierre
                                                    </th>
                                                    <td mat-cell *matCellDef="let row" class="">
                                                        {{row.fecha_cierre | date:"dd/MM/yyyy"}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="estimated-hours">
                                                    <th mat-header-cell *matHeaderCellDef class="">
                                                        Horas estimadas
                                                    </th>
                                                    <td mat-cell *matCellDef="let row" class="">
                                                        {{row.estimated_hours | number: '1.2-2'}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="worked-hours">
                                                    <th mat-header-cell *matHeaderCellDef class="">
                                                        Horas trabajadas
                                                    </th>
                                                    <td mat-cell *matCellDef="let row" class="">
                                                        {{row.worked_hours | number: '1.2-2' }} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="avance">
                                                    <th mat-header-cell *matHeaderCellDef class="">
                                                        % ejecución
                                                    </th>
                                                    <td mat-cell *matCellDef="let row" class="">
                                                        {{row.avance_actividades | number: '1.2-2' }}%
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="estado-open">
                                                    <th mat-header-cell *matHeaderCellDef class="">
                                                        Open Pages
                                                    </th>
                                                    <td mat-cell *matCellDef="let row" class="">
                                                        {{ row.open_state }} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="semaforo">
                                                    <th mat-header-cell *matHeaderCellDef class="">
                                                    </th>
                                                    <td mat-cell *matCellDef="let row" class=""
                                                        [style.background-color]="row.semaforo">
                                                    </td>
                                                </ng-container>


                                                <tr mat-header-row *matHeaderRowDef="displayedColumnAvanceActividades">
                                                </tr>
                                                <tr mat-row
                                                    *matRowDef="let row; columns: displayedColumnAvanceActividades;">
                                                </tr>

                                                <tr class="mat-row" *matNoDataRow>
                                                    <td class="mat-cell" colspan="4">
                                                        No hay registros en el rango de
                                                        fecha seleccionado
                                                    </td>
                                                </tr>

                                            </table> -->


                                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                                aria-label="Select page of users">
                                            </mat-paginator> -->


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </mat-tab>

                    <mat-tab label="Detalle">

                        <div class="row">

                            <div class="col-md-12">
                                <div class="card">


                                    <div class="card-header card-header-success"
                                        style="background-color: #33348e !important;">
                                        <h4 class="card-title ">Tabla de detalles</h4>
                                        <p class="card-category">
                                            Lista de los registros ordenados del más reciente al más antiguo
                                        </p>
                                    </div>

                                    <div class="card-body">

                                        <table mat-table [dataSource]="dataSourceDetalles" matSort>

                                            <!-- Column -->
                                            <ng-container matColumnDef="date">
                                                <th mat-header-cell *matHeaderCellDef class="primeraColumna"> Fecha
                                                </th>
                                                <td mat-cell *matCellDef="let row" class="primeraColumna">
                                                    {{row.date | date:"dd/MM/yyyy"}}
                                                </td>
                                            </ng-container>

                                            <!-- Column -->
                                            <ng-container matColumnDef="user">
                                                <th mat-header-cell *matHeaderCellDef class="segundaColumna">
                                                    Usuario </th>
                                                <td mat-cell *matCellDef="let row" class="segundaColumna">
                                                    {{row.user.name }}
                                                </td>
                                            </ng-container>

                                            <!-- Column -->
                                            <ng-container matColumnDef="activity">
                                                <th mat-header-cell *matHeaderCellDef class="segundaColumna">
                                                    Actividad </th>
                                                <td mat-cell *matCellDef="let row" class="segundaColumna">
                                                    {{row.activity.name }}
                                                </td>
                                            </ng-container>


                                            <!-- Column -->
                                            <ng-container matColumnDef="hours">
                                                <th mat-header-cell *matHeaderCellDef class="terceraColumna"> Horas
                                                </th>
                                                <td mat-cell *matCellDef="let row" class="terceraColumna">
                                                    {{row.hours}} </td>
                                            </ng-container>

                                            <!--Column -->
                                            <ng-container matColumnDef="detail">
                                                <th mat-header-cell *matHeaderCellDef class="cuartaColumna"> Detalle
                                                </th>
                                                <td mat-cell *matCellDef="let row" class="cuartaColumna">
                                                    {{row.detail }} </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumnDetalles"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnDetalles;">
                                            </tr>

                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="4">No hay registros en el rango de
                                                    fecha seleccionado</td>
                                            </tr>

                                        </table>

                                        <mat-paginator [pageSizeOptions]="[10, 30, 50, 100]"
                                            aria-label="Select page of users">
                                        </mat-paginator>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>



        <!-- LOADER SPINERS -->
        <div class="row"
            style="z-index:5; position: fixed; display: flex; align-self: flex-end; bottom: 15%; right: 30%;"
            *ngIf="!mostrarGraficas">
            <div class="spinner-border text-primary loader " role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-secondary loader " role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-success loader " role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-danger loader " role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-warning loader " role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-info loader " role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-dark loader " role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


    </div>
</div>