<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-11">

            </div>

            <div class="col-1">
                <button mat-raised-button type="button" matTooltip="Resetear datos" 
                    [matTooltipPosition]="'left'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                    <i class="material-icons">restart_alt</i>
                </button>
            </div>
        
        </div>

        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-s-12 col-sm-12">
                <div class="card card-stats">

                    <mat-form-field appearance="fill" class="filtro">
                        <mat-label>Filtar por rango de fechas</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [max]="today">
                            <input matStartDate formControlName="start" placeholder="Fecha de inicio">
                            <input matEndDate formControlName="end" placeholder="Fecha fin"
                                (dateChange)="filterReportData()">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">
                            fecha de inicio inválida
                        </mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">
                            fecha final inválida
                        </mat-error>
                    </mat-form-field>


                    <!-- <div class="card-footer">
                        <div class="stats" (click)="filterReportData()" style="cursor: pointer;">
                            <i class="material-icons">restart_alt</i>
                            Reiniciar rango (mes en curso)
                        </div>
                    </div> -->

                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-s-12 col-sm-12">
                <div class="card">

                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>País</mat-label>
                        <!-- <mat-select (selectionChange)="selectCompany($event)"> -->
                        <mat-select (selectionChange)="selectCountry($event)">
                            <mat-option value="all">Todo</mat-option>
                            <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-6 col-s-12 col-sm-12">
                <div class="card">

                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>Empresa</mat-label>
                        <mat-select (selectionChange)="selectCompany($event)">
                            <mat-option value="all">Todo </mat-option>
                            <mat-option *ngFor="let company of companies" [value]="company">{{ company }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-s-12 col-sm-12">
                <div class="card">

                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>Actividad</mat-label>
                        <mat-select (selectionChange)="selectActivity($event)">
                            <mat-option value="all">Todo</mat-option>
                            <mat-option *ngFor="let activity of activities" [value]="activity">{{ activity }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-s-12 col-sm-12">
                <div class="card">

                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>Area</mat-label>
                        <mat-select (selectionChange)="selectArea($event)">
                            <mat-option value="all">Todo</mat-option>
                            <mat-option *ngFor="let area of areas" [value]="area">{{ area }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-s-12 col-sm-12">
                <div class="card">

                    <mat-form-field appearance="fill" class="inputs">
                        <mat-label>Usuario</mat-label>
                        <mat-select (selectionChange)="selectUser($event)">
                            <mat-option value="all">Todo</mat-option>
                            <mat-option *ngFor="let user of users" [value]="user">{{ user }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 col-s-12 col-sm-12">

                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">functions</i>
                        </div>
                        <p class="card-category">Horas trabajadas en total</p>
                        <h3 class="card-title">{{horasTrabajadasEnTotal | number : '1.2-2' }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- Horas trabajadas en total -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-s-12 col-sm-12">

                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">hourglass_disabled</i>
                        </div>
                        <p class="card-category">Horas trabajadas en promedio</p>
                        <h3 class="card-title">{{horasTrabajadasEnPromedio | number : '1.2-2' }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- Horas trabajadas en promedio -->
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row" *ngIf="mostrarGraficas">

            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-default text-white"
                        style="background-color: rgb(255, 255, 255) !important;">
                        <div style="display: block">
                            <canvas baseChart [data]="lineChartData" [options]="lineChartOptions"
                                [type]="lineChartType">
                            </canvas>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Tendencia de horas trabajadas por fecha</h4>
                        <!-- <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
                        </p> -->
                    </div>
                </div>
            </div>

        </div>

        <div class="row" *ngIf="mostrarGraficas">

            <div class="col-lg-6 col-md-6 col-s-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">donut_large</i>
                        </div>
                        <div class="chart">
                            <canvas baseChart [data]="pieChartCompaniesData" [labels]="labelsPieChartCompanies"
                                [type]="pieChartCompaniesType" [options]="pieChartCompaniesOptions">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-s-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">donut_large</i>
                        </div>
                        <div class="chart">
                            <canvas baseChart [data]="pieChartData" [labels]="labelsPieChart" [type]="pieChartType"
                                [options]="pieChartOptions">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="row">

            <div class="col-lg-12 col-md-12">
                <div class="card">

                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">bug_report</i> Top: Sobre ejecutados
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">code</i> Top: No completado
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                            <i class="material-icons">cloud</i> Server
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <div class="tab-content">

                            <div class="tab-pane active" id="profile">

                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>

                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane" id="settings">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>


                </div>
            </div>

        </div> -->

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Horas por usuarios</h4>
                        <p class="card-category">Numero de horas trabajadas por parte del auditor en el rango
                            seleccionado</p>
                    </div>

                    <div class="card-body table-responsive">

                        <table mat-table [dataSource]="dataSourceAuditorHours" matSort style="width: 100%;">

                            <!-- Column -->
                            <ng-container matColumnDef="auditor">
                                <th mat-header-cell *matHeaderCellDef class="segundaColumna"> Auditor </th>
                                <td mat-cell *matCellDef="let row" class="segundaColumna">
                                    {{row.name }}
                                </td>
                            </ng-container>


                            <!-- Column -->
                            <ng-container matColumnDef="hours">
                                <th mat-header-cell *matHeaderCellDef class="terceraColumna"> Horas </th>
                                <td mat-cell *matCellDef="let row" class="terceraColumna"> {{row.hours | number :
                                    '1.2-2' }} </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumnsAuditorHours"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsAuditorHours;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No hay registros en el rango de fecha seleccionado</td>
                            </tr>

                        </table>

                        <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" aria-label="Select page of users">
                        </mat-paginator>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>